@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Mountains+of+Christmas:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Handlee, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #360808;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  font-family: 'Mountains of Christmas'
}
